:root{
  --background-color: rgb(40, 51, 71);
  --navbar-main-color: rgb(33, 35, 44);
  --navbar-secondary-color: rgb(22, 22, 26);
  --navbar-text-color: lightsteelblue;
  --title-text-color: rgb(25, 18, 71);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button{
  font-family: 'Lato', sans-serif;
}

button:focus{
  outline: none;
  border: none;
}

* {
  box-sizing: border-box;
}

.hcenter{
  display:flex;
  justify-content: center;
}

.container{
  width: 80%;
  margin: 0 auto;
}

.full-height{
  height:100%
}

.container-large{
  width: 90%;
  margin: 0 auto;
}
