.navbar-link{
    font-size: 1.2em;
    display: block;
    border-right: 1px solid gray;
    padding: 0.7em 3em 0.3em 3em;
}


.navbar-link:hover{
    background-color: var(--navbar-hover-color);
    height:3.5em;
}

.navbar-last{
    margin-left:auto;
    border-right: none;
}